---
import Container from '@components/Container.astro';
import SectionTitle from '@components/SectionTitle.astro';
import TeamsSelectorCards from '@components/TeamsSelectorCards.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='Equipos'>
  <SectionTitle title='Equipos' />
  <Container>
    <div class='bg-white rounded shadow-xl -mt-10 -z10 p-10'>
      <TeamsSelectorCards />
    </div>
  </Container>
</Layout>
